.text-rotate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.text-rotate-word {
  display: inline-flex;
  overflow: hidden;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}